<div class="container mt-3">
    <form (ngSubmit)="addPerson()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel) = "newPerson.name" required>
        </div>
        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="birthday" [(ngModel)="newPerson.birthday">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)="newPerson.email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="occupation" class="form-label">Occupation</label>
          <input type="text" class="form-control" id="occupation"[(ngModel)="newPerson.occupation" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
